* {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}
header {
  background-image: url(./IMAGES/billboard.jpeg);
  background-color: rgb(3, 25, 62);
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  /* overflow: hidden; */
}

header::before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(2, 15, 26, 0.7);
  z-index: 0;
}

nav {
  position: static;
  top: 0;
  width: 100%;
  /* background-color: #70b4ea; */
  align-items: center;
  justify-content: space-between;
  display: flex;
}

nav ul {
  margin-left: 25%;
  border: 1px solid grey;
  transform: translateX(-50%);
  border-radius: 30px;
  box-shadow: 0 6px 6px black;
  align-items: center;
  padding-block: 20px;
  padding-inline: 25px;
  list-style: none;
  gap: 15px;
  display: flex;
  z-index: 3;
}
nav ul :hover {
  text-decoration: underline red;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

nav img {
  padding-left: 600px;
  height: 150px;
  width: 230px;
  position: relative;
}


.sidebar {
  display:none;
    position: fixed;
    top: 0;
    left: -250px; /* Sidebar starts off-screen */
    width: 230px; /* Adjust width of sidebar */
    height: 95%;
    background-color: #2c3e50; /* Change this to a darker color for better contrast */
    color: white;
    font-size: 20px; /* Ensure readable font size */
    transition: left 0.3s ease; /* Smooth transition for the sidebar */
    padding-top: 50px;
    z-index: 1000; /* Ensure it appears above other content */
  
  }
  .sidebar :hover{
    text-decoration: underline lightblue ;
  }
  
 
  .sidebar li {
    padding: 15px;
    text-align: center;
  }
  
  .sidebar li a {
    text-align: center;
    color: rgb(3, 11, 25);
    text-decoration: none;
    font-size: 30px;
    display: block; /* Ensure the links take up the full width */
  }
  
  /* Show the sidebar when it's toggled (open class) */
  .sidebar.open {
    left: 0; /* Move the sidebar into view */
  }
  
  


.menu i {
  display: none;
}

.h1st h1 {
  text-shadow: 0 0 5px WHITE, 0 0 30px lightblue, 0 0 80px rgb(58, 141, 218);
  padding-top: 230px;
  font-size: 70px;
  color: rgb(226, 232, 234);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  position: relative;
}
p {
  text-shadow: 0 0 5px lightblue;
  font-size: 25px;
  text-align: center;
  color: white;
  z-index: 2;
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.first {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.first h2 {
  text-align: center;
  margin-left: 0;
  padding-top: 200px;
  height: 500px;
}

.first a img {
  width: 700px;
}

.section {
  padding-top: 30px;
  /* display: flex; */
  gap: 20px;
  background-color: rgb(3, 25, 62);
  background-size: cover;
  background-attachment: fixed;
  /* background-image: url(./IMAGES/billboard.jpeg); */
}
.divone {
  display: flex;
  flex-direction: column;
  padding-inline: 0px;
  gap: 30px;
  align-items: center;
}

.part-one {
  justify-content: center;
  background-color: rgb(3, 25, 62);
  flex-direction: column;
  display: flex;
  padding-inline: 500px;
  max-width: 900px;
  border-radius: 25px;
  padding-bottom: 40px;
}
.part-one h2 {
  color: white;
  padding-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  margin-bottom: 05px;
  z-index: 2;
}
.part-two {
  background-color: rgb(3, 25, 62);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.classone {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  max-width: 500px;
  color: white;
}

.part-two h5 {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 35px;
  z-index: 1;
}
.part-two img {
  height: 200px;
  width: 300px;
}
.images {
  gap: 05px;
  display: flex;
}
h6 {
  text-align: center;
  font-size: 30px;
  color: white;
  z-index: 3;
}
.images a{
  text-decoration: none;
}

.images h6:hover {
  text-decoration:1px underline red;
}

.divtwo img {
  object-fit: center;
  width: 48vw;
  height: 800px;
  border-radius: 45px;
}

footer {
 align-items: center;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  background-color: black;
}

.fmg{
  align-items: end;
  justify-items: left;
}

.fmg img{
  height: 250px;
}

.lasticon{
  z-index: 3;
  padding-top: 150px;
  padding-left: 320px;
  display: flex;
  gap: 20px;
}

.lasticon img{
  height: 30px;
  width: 30px;
} 


.user-info {
  margin-bottom: 40px;
}

.user-info h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.user-info p {
  color: #bdc3c7;
  font-size: 0.9rem;
}

.nav-menu {
  list-style: none;
  padding: 0;
}

.nav-item {
  padding: 12px 15px;
  margin: 8px 0;
  border-radius: 5px;
  cursor: pointer;
}

.nav-item:hover {
  background-color: #34495e;
}

.sidebar-footer {
  position: absolute;
  bottom: 20px;
  font-size: 0.8rem;
  color: #bdc3c7;
}

.main-content {
  margin-left: 250px;
  flex: 1;
  padding: 20px;
}




/* MOBILE */
@media only screen and (max-width: 600px) {

header{
  background-color: black;
  animation: motions 1s ease-in-out ;
}

  header {
    background-image: url(./IMAGES/billboard.jpeg);
    backdrop-filter: 100px;
    position: relative;
    height: 700px;
    background-size: cover;
    background-position: center;
    animation: motions 1s ease-inwt5;
  }

  @keyframes motions {
    0%{transform: scale3d(1);}
    50%{transform: scale(3.3);}
    100%{transform: scale3d(1);}
    
  }
  

  header::before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(2, 15, 26, 0.7);
    z-index: 0;
  }
  

  nav {
    position: absolute;
    top: 0;
    width: 100%;
    /* background-color: #70b4ea; */
    justify-content: space-between;
    display: flex;
    z-index: 3;
  }

  nav ul {
    padding-right: 140px;
    align-items: center;
    list-style: none;
    gap: 10px;
    display: flex;
    display: none;
  }

  nav img {
    padding-left: 90px;
    height: 120px;
    width: 200px;
    z-index: 2;

    position: relative;
  }

  .Menu i{
    color: aliceblue;
    padding-right: 20px;
    display: block;
    font-size: 30px;
  }

/* Sidebar Styles */
.sidebar{
  border: none;
  display:block;
  background-color: #2c3e50; /* Dark background for visibility */
  left: -250px; /* Sidebar initially hidden */
  z-index: 1000;
}


.sidebar ul {
  border: none;
  display: block;
  padding: left 20px ;
}


/* Show the sidebar when it's toggled (open class) */
.sidebar.open {
  left: 0; /* Move the sidebar into view */
}

  .h1st h1 {
    text-shadow: 0 0 3px WHITE, 0 0 10px lightblue, 0 0 30px rgb(58, 141, 218);
    padding-top: 230px;
    font-size: 70px;
    color: rgb(226, 232, 234);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
    position: relative;
  }
  
  p {
    font-size: 15px;
    font-weight: 900;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .h1st h1 {
    text-shadow: 0 0 3px WHITE, 0 0 7px lightblue, 0 0 20px rgb(58, 141, 218);
    padding-top: 230px;
    padding-top: 250px;
    font-size: 53px;
    color: rgb(226, 232, 234);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
    position: relative;
  }

  p {
    font-size: 12px;
    text-align: center;
    color: white;
    z-index: 2;
    position: relative;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .section {
    /* overflow: hidden; */
    padding-top: 30px;
    padding-left: 0px;
    display: flex;
    gap: 10px;
    background-size: cover;
    background-attachment: fixed;
  }

  .divone {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .part-one {
    justify-content: center;
    background-color: rgb(3, 25, 62);
    flex-direction: column;
    display: flex;
    padding-inline: 0px;
    max-width: 900px;
    border-radius: 5px;
    padding-bottom: 40px;
  }
  .part-one h2 {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    z-index: 6;
  }

  .classone {
    max-width: 390px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: white;
  }

  .part-two h5 {
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 20px;
  }
  .part-two img {
    height: 60px;
    width: 70px;
  }
  .images {
    gap: 0px;
    display: flex;
  }

  .divtwo img {
    object-fit: center;
    width: 48vw;
    height: 800px;
    border-radius: 45px;
  }

  .images p {
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }

  
.images {
  z-index: 6;
  gap: 05px;
  display: flex;
}
h6 {
  text-align: center;
  font-size: 8px;
  color: white;
  z-index: 3;
}
 

.fmg{
  align-items: end;
}

.fmg img{
    height: 80px;
}

.lasticon{
  z-index: 3;
  padding-top: 40px;
  padding-left: 40px;
  display: flex;
  gap: 20px;
}

.lasticon img{
  height: 15px;
  width: 15px;
} 


}
