* {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}
header {
  background-image: url(./IMAGES/billboard.jpeg);
  background-color: rgb(3, 25, 62);
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  /* overflow: hidden; */
}

header::before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(2, 15, 26, 0.7);
  z-index: 0;
}

nav {
  position: static;
  top: 0;
  width: 100%;
  /* background-color: #70b4ea; */
  align-items: center;
  justify-content: space-between;
  display: flex;
}

nav ul {
  margin-left: 25%;
  border: 1px solid grey;
  transform: translateX(-50%);
  border-radius: 30px;
  box-shadow: 0 6px 6px black;
  align-items: center;
  padding-block: 20px;
  padding-inline: 25px;
  list-style: none;
  gap: 15px;
  display: flex;
  z-index: 3;
}
nav ul :hover {
  text-decoration: underline red;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

nav img {
  padding-left: 600px;
  height: 150px;
  width: 230px;
  position: relative;
}

.menu a {
  display: none;
  padding-top: 20px;
}

.h1st h1 {
  text-shadow: 0 0 5px WHITE, 0 0 30px lightblue, 0 0 80px rgb(58, 141, 218);
  padding-top: 230px;
  font-size: 70px;
  color: rgb(226, 232, 234);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  position: relative;
}
p {
  text-shadow: 0 0 5px lightblue;
  font-size: 25px;
  text-align: center;
  color: white;
  z-index: 2;
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.first {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.first h2 {
  text-align: center;
  margin-left: 0;
  padding-top: 200px;
  height: 500px;
}

.first a img {
  width: 700px;
}

.section {
  padding-top: 30px;
  /* display: flex; */
  gap: 20px;
  background-color: rgb(3, 25, 62);
  background-size: cover;
  background-attachment: fixed;
  /* background-image: url(./IMAGES/billboard.jpeg); */
}
.divone {
  display: flex;
  flex-direction: column;
  padding-inline: 0px;
  gap: 30px;
  align-items: center;
}

.part-one {
  justify-content: center;
  background-color: rgb(3, 25, 62);
  flex-direction: column;
  display: flex;
  padding-inline: 500px;
  max-width: 900px;
  border-radius: 25px;
  padding-bottom: 40px;
}
.part-one h2 {
  color: white;
  padding-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
  margin-bottom: 05px;
  z-index: 2;
}
.part-two {
  background-color: rgb(3, 25, 62);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.classone {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  max-width: 500px;
  color: white;
}

.part-two h5 {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 35px;
  z-index: 1;
}
.part-two img {
  height: 200px;
  width: 300px;
}
.images {
  gap: 05px;
  display: flex;
}
h6 {
  text-align: center;
  font-size: 30px;
  color: white;
  z-index: 3;
}
.images a{
  text-decoration: none;
}

.images h6:hover {
  text-decoration:1px underline red;
}

.divtwo img {
  object-fit: center;
  width: 48vw;
  height: 800px;
  border-radius: 45px;
}

footer {
 align-items: center;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  background-color: black;
}

.fmg{
  align-items: end;
  justify-items: left;
}

.fmg img{
  height: 250px;
}

.lasticon{
  z-index: 3;
  padding-top: 150px;
  padding-left: 320px;
  display: flex;
  gap: 20px;
}

.lasticon img{
  height: 30px;
  width: 30px;
} 

/* MOBILE */
@media only screen and (max-width: 600px) {
  @keyframes example {
    0% {background-color: #1b0d87;}
    25% {background-color: #fff;}
    
  }

  header {
    animation-duration: 5s;
    animation-name: example;
    background-image: url(./IMAGES/GAC\ MMA.jpg);
    background-color: rgb(3, 25, 62);
    backdrop-filter: 100px;
    position: relative;
    height: 700px;
    animation: motions 1s ease-in-out;
  }

  @keyframes motions {
    0%{transform: scale3d(1);}
    50%{transform: scale(1.3);}
    100%{transform: scale(1);}
    
  }

  header::before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(2, 15, 26, 0.7);
    z-index: 0;
  }
  

  nav {
    position: absolute;
    top: 0;
    width: 100%;
    /* background-color: #70b4ea; */
    justify-content: space-between;
    display: flex;
    z-index: 3;
  }

  nav ul {
    padding-right: 140px;
    align-items: center;
    list-style: none;
    gap: 10px;
    display: flex;
    display: none;
  }

  nav img {
    padding-left: 100px;
    height: 120px;
    width: 200px;
    z-index: 2;

    position: relative;
  }

  .menu i {
    height: 00px;
    width: 290px;
    padding-left: 50px;
    display: none;
  }

  .h1st h1 {
    text-shadow: 0 0 3px WHITE, 0 0 10px lightblue, 0 0 30px rgb(58, 141, 218);
    padding-top: 230px;
    font-size: 70px;
    color: rgb(226, 232, 234);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
    position: relative;
  }
  
  p {
    font-size: 15px;
    font-weight: 900;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .h1st h1 {
    text-shadow: 0 0 3px WHITE, 0 0 7px lightblue, 0 0 20px rgb(58, 141, 218);
    padding-top: 230px;
    padding-top: 250px;
    font-size: 53px;
    color: rgb(226, 232, 234);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
    position: relative;
  }

  p {
    font-size: 12px;
    text-align: center;
    color: white;
    z-index: 2;
    position: relative;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .section {
    /* overflow: hidden; */
    padding-top: 30px;
    padding-left: 0px;
    display: flex;
    gap: 10px;
    background-size: cover;
    background-attachment: fixed;
  }

  .divone {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .part-one {
    justify-content: center;
    background-color: rgb(3, 25, 62);
    flex-direction: column;
    display: flex;
    padding-inline: 0px;
    max-width: 900px;
    border-radius: 5px;
    padding-bottom: 40px;
  }
  .part-one h2 {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    z-index: 6;
  }

  .classone {
    max-width: 390px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: white;
  }

  .part-two h5 {
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 20px;
  }
  .part-two img {
    height: 60px;
    width: 70px;
  }
  .images {
    gap: 0px;
    display: flex;
  }

  .divtwo img {
    object-fit: center;
    width: 48vw;
    height: 800px;
    border-radius: 45px;
  }

  .images p {
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }

  
.images {
  z-index: 6;
  gap: 05px;
  display: flex;
}
h6 {
  text-align: center;
  font-size: 8px;
  color: white;
  z-index: 3;
}
 

.fmg{
  align-items: end;
}

.fmg img{
    height: 80px;
}

.lasticon{
  z-index: 3;
  padding-top: 40px;
  padding-left: 40px;
  display: flex;
  gap: 20px;
}

.lasticon img{
  height: 15px;
  width: 15px;
} 


}
