* {
  margin: 0%;
  padding: 0%;
}
header {

  /* background-image: url(./IMAGES/billboard.jpeg); */
  background-color: rgb(3, 25, 62);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  /* overflow: hidden; */
}



nav {
  position: fixed;
  top: 0;
  width: 100%;
  /* background-color: #70b4ea; */
  align-items: center;
  justify-content: space-between;
  display: flex;
  z-index: 3;
}

nav ul{
  align-items: center;
  padding-block: 20px;
  padding-inline: 25px;
  list-style: none;
  gap: 15px;
  display: flex;
}
nav ul :hover{
  text-decoration: underline red;
}


nav a {
   text-decoration: none;
  font-size: 20px;
  color: white;
}

nav img {
  padding-left: 600px;
  height: 150px;
  width: 230px;
  position: relative;
}


.menu a{
  display: none;
  padding-top: 20px;
}

.h1st h1 {
 padding-top: 230px;
  font-size: 70px;
  color: rgb(226, 232, 234);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  position: relative;
}
p {
  font-size: 25px;
  text-align: center;
  color:white;
  z-index: 2;
  position: relative;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.first {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.first h2 {
  text-align: center;
  margin-left: 0;
  padding-top: 200px;
  height: 500px;
}

.first a img {
  width: 700px;
}

.section {
  padding-top: 30px;
  /* display: flex; */
  gap: 20px;
  background-color: rgb(3, 25, 62);
  background-size: cover;
  background-attachment: fixed;
  /* background-image: url(./IMAGES/billboard.jpeg); */ 
  }
  .divone{
  display: flex;
  flex-direction: column;
  padding-inline: 0px;
  gap: 30px;
  align-items: center;
  }

.part-one{
  justify-content: center;
  background-color: rgb(3, 25, 62);
  flex-direction: column;
  display: flex;
  padding-inline: 500px;
  max-width: 900px;
  border-radius: 25px;
  padding-bottom: 40px;
}
.part-one h2{
  color: white;
  padding-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  margin-bottom: 05px;
}
.part-two{
  background-color:rgb(3, 25, 62);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.classone{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
max-width:500px ;
  color: white}

.part-two h5{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
}
.part-two img {
 height: 200px;
 width: 300px;
}
.images{
  gap: 05px;
  display: flex;
}
.images p{
size:50px;
}
.divtwo img {
  object-fit: center;
  width: 48vw;
  height: 800px;
  border-radius: 45px;
}



/* MOBILE */
@media only screen and (max-width: 600px){
  
  header{
    /* background-image: url(./IMAGES/GAC\ MMA.jpg); */
    background-color: rgb(3, 25, 62);
    backdrop-filter: 100px;
    position: relative;
    height: 700px;
}

header::before {
  position:fixed;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(2, 15, 26, 0.7);
  z-index: 0;
}
 

nav {
  position:absolute;
  top: 0;
  width: 100%;
  /* background-color: #70b4ea; */
  align-items: center;
  justify-content: space-between;
  display: flex;
  z-index: 3;
}


nav ul{
  padding-right: 140px;
  align-items: center;
  list-style: none;
  gap: 10px;
  display: flex;
  display: none;
}


nav img {
  padding-left: 80px;
  height: 120px;
  width: 200px;
  z-index: 2;
  position: relative;
}


.menu i{
  height: 00px;
  width: 290px;
  padding-left: 50px;
  display: none;
}


header h1 {
  font-size: 25px;
  font-weight: 900;
  color: white(191, 151, 64);
 text-shadow: 
    0 0 5px #fff, 
    0 0 40px #b2d7e8, /* Green glow (change color as desired) */ 
    0 0 150px #1b0d87;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
p {
  font-size: 15px;
  font-weight: 900;
  color:white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.h1st h1 {
    padding-top: 250px;
   font-size: 55px;
   color: rgb(226, 232, 234);
   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
     "Lucida Sans", Arial, sans-serif;
   text-align: center;
   position: relative;
 }

  p {
   font-size: 12px;
   text-align: center;
   color:white;
   z-index: 2;
   position: relative;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
.section {
  /* overflow: hidden; */
  padding-top: 30px;
  padding-left: 0px;
  display: flex;
  gap: 10px;
  background-size: cover;
  background-attachment: fixed;
}

.divone{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  }

.part-one{
  justify-content: center;
  background-color: rgb(3, 25, 62);
  flex-direction: column;
  display: flex;
  padding-inline: 0px;
  max-width: 900px;
  border-radius: 5px;
  padding-bottom: 40px;
}
.part-one h2{
  color: white;
  text-align: center;
  padding-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  z-index: 6;
}


.classone{
  max-width: 390px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white}


.part-two h5{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
}
.part-two img {
 height: 60px;
 width: 70px;
}
.images{
  gap: 0px;
  display: flex;
}

.divtwo img {
  object-fit: center;
  width: 48vw;
  height: 800px;
  border-radius: 45px;
}

.images p{
  align-items: center;
  justify-content: center;
font-size: 10px;  }
}